n8n/proxis-proxy.json
{
  "name": "Proxis - Proxy HTTP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "proxis-proxy",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1c2d3e4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "proxis-proxy"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst p = (raw.body && typeof raw.body === 'object' && !Array.isArray(raw.body)) ? raw.body : raw;\n\nif (!p.endpoint || !p.method || !p.headers) {\n  throw new Error('Payload invalido: endpoint, method e headers sao obrigatorios');\n}\n\nconst baseUrl = 'http://177.38.10.218:8082/datasnap/rest/TSMApi';\nconst url = `${baseUrl}/\"${p.endpoint}\"`;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    url,\n    method: p.method,\n    headers: p.headers,\n    body: p.body,\n    json: false,\n    returnFullResponse: true,\n    simple: false,\n    timeout: 30000,\n  });\n\n  let body = response.body;\n  if (typeof body === 'string' && body.trim()) {\n    try { body = JSON.parse(body); } catch {}\n  }\n\n  return [{\n    json: {\n      status: response.statusCode || 200,\n      body: body ?? null,\n    },\n  }];\n} catch (err) {\n  const response = err?.response || null;\n  let body = response?.body ?? err?.body ?? null;\n\n  if (typeof body === 'string' && body.trim()) {\n    try { body = JSON.parse(body); } catch {}\n  }\n\n  return [{\n    json: {\n      status: response?.statusCode || err?.statusCode || 500,\n      body: body ?? null,\n      error: err?.message || 'Erro ao conectar no Proxis',\n    },\n  }];\n}"
      },
      "id": "b1c2d3e4-0002-4000-8000-000000000002",
      "name": "Chamar Proxis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "b1c2d3e4-0003-4000-8000-000000000003",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [440, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chamar Proxis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Proxis": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": true,
  "versionId": "proxis-proxy-v4"
}
